body{
    background-image: url(estrellas.gif);
    width: auto;
}

.wazos{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(224, 224, 218);
    height: 106px;
    width: 1200px;
    margin: 5%;
    border-radius: 5px;
    background-color: rgba(152, 22, 238, 0.637);
    box-shadow: 0 0 10px #ffffff, 0 0 20px #e100ff, 0 0 40px #ffffff;
}

.contenedor1{
    height: 60vh;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.btn{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    padding: 20px 50px;
    color: #ffff;
    text-decoration: none;
    font-size: 120px;
    letter-spacing: 2px;
    transition: all 0.6s ease;
    background-color: rgba(8, 8, 8, 0.904);
}

.btn-C{
    border: 3px solid;
    font-size: 240px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    left: 70px;
    height: 300px;
    width: 400px;
}
.btn-C:hover{
    background-color: #c400d6;
    box-shadow: 0 0 10px #c400d6, 0 0 20px #c400d6, 0 0 40px #c400d6;
}
.btn-p{
    border: 3px solid;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    right: 80px;
    width: 500px;
    height: 240px;
    padding: 50px;
    font-size: 100px;
}
.btn-p:hover{
    background-color: #c400d6;
    box-shadow: 0 0 10px #c400d6, 0 0 20px #c400d6, 0 0 40px #c400d6;
}

